<h1>Flexbox</h1>
<ul class="test__flexbox list-unstyled">
    <li>box 1 box</li>
    <li>box 2</li>
    <li>box 3</li>
    <li>box 4 box</li>
    <li>box 5 box</li>
    <li>box 6</li>
    <li>box 7</li>
    <li>box 8</li>
</ul>

<h1>CSS Grid</h1>
<ul class="test__cssgrid list-unstyled">
    <li class="box1">box 1</li>
    <li class="box2">box 2</li>
    <li class="box3">box 3</li>
    <li class="box4">box 4</li>
</ul>
