{{!render '@global-header'}}
{{!render '@navigation'}}

<div id="main-content" class="main-content homepage" tabindex="-1">
	<main>
        {{!render '@page-banner--homepage'}}
        {{!render '@anything-grid'}}
        {{!render '@news-listing--homepage'}}
        {{!render '@social-feed-grid'}}
    </main>
</div>
