$icomoon-font-family: "iconfont";
$icomoon-font-path: "../font/iconfont/fonts";

$icon-excel: "\e916";
$icon-pdf: "\e917";
$icon-powerpoint: "\e918";
$icon-text: "\e919";
$icon-video: "\e91a";
$icon-word: "\e91b";
$icon-zip: "\e91c";
$icon-email: "\e915";
$icon-angle-double-left: "\e900";
$icon-angle-double-right: "\e901";
$icon-angle-down: "\e902";
$icon-angle-left: "\e903";
$icon-angle-right: "\e904";
$icon-angle-up: "\e905";
$icon-arrow-down: "\e906";
$icon-bars: "\e907";
$icon-cog: "\e908";
$icon-facebook: "\e909";
$icon-flickr: "\e90a";
$icon-home: "\e90b";
$icon-instagram: "\e90c";
$icon-linkedin: "\e90d";
$icon-minus: "\e90e";
$icon-pause: "\e90f";
$icon-plus: "\e910";
$icon-search: "\e911";
$icon-times: "\e912";
$icon-twitter: "\e913";
$icon-youtube: "\e914";

