<div class="design-tokens-colors">
    <ul>
    {{#each colors}}
        <li class="design-tokens-colors__color-sample" style="background-color:{{hexCode}};">
            <div class="design-tokens-colors__color-varname">${{varName}}</div>
            <div class="design-tokens-colors__color-hexcode">{{hexCode}}</div>
        </li>
    {{/each}}
    </ul>
</div>