<button type="button" class="{{#if tooltipModifier}}{{tooltipModifier}}{{/if}}"
        data-toggle="tooltip"
        data-placement="{{tooltipPlacement}}"
        title="{{tooltipLabel}}"
        {{#if tooltipIsDisabled}} disabled{{/if}}>
    {{buttonLabel}}
</button>