/*! 
 * PROJECT_NAME
 * @version v1.0.0
 * @date 2021-07-01T05:41:14
 */
@charset "UTF-8";
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5em;
  font-weight: 700;
  line-height: 1.2;
  color: #000; }

h1, .h1 {
  font-size: 3.75rem; }

h2, .h2 {
  font-size: 3rem; }

h3, .h3 {
  font-size: 2.25rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.125rem; }

h6, .h6 {
  font-size: 1rem; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2; }

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

small,
.small {
  font-size: 80%;
  font-weight: 400; }

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none; }

.list-inline-item {
  display: inline-block; }
  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem; }

.initialism {
  font-size: 90%;
  text-transform: uppercase; }

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem; }

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d; }
  .blockquote-footer::before {
    content: "\2014\00A0"; }

@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont/fonts/iconfont.ttf?ib63yg") format("truetype"), url("../font/iconfont/fonts/iconfont.woff?ib63yg") format("woff"), url("../font/iconfont/fonts/iconfont.svg?ib63yg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-excel:before {
  content: ""; }

.icon-pdf:before {
  content: ""; }

.icon-powerpoint:before {
  content: ""; }

.icon-text:before {
  content: ""; }

.icon-video:before {
  content: ""; }

.icon-word:before {
  content: ""; }

.icon-zip:before {
  content: ""; }

.icon-email:before {
  content: ""; }

.icon-angle-double-left:before {
  content: ""; }

.icon-angle-double-right:before {
  content: ""; }

.icon-angle-down:before {
  content: ""; }

.icon-angle-left:before {
  content: ""; }

.icon-angle-right:before {
  content: ""; }

.icon-angle-up:before {
  content: ""; }

.icon-arrow-down:before {
  content: ""; }

.icon-bars:before {
  content: ""; }

.icon-cog:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-flickr:before {
  content: ""; }

.icon-home:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-minus:before {
  content: ""; }

.icon-pause:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-times:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-youtube:before {
  content: ""; }
