<div class="design-tokens-icons">
    <ul>
    {{#each icons}}
        <li class="design-tokens-icons__icon-sample">
            <div class="design-tokens-icons__icon-varname {{varName}}">@{{varName}}</div>
        </li>
    {{/each}}
    </ul>
</div>