.design-tokens-fonts {
    margin-bottom: $padding-base * 2;

    &__font-family {
        background-color: #eee;
        margin-bottom: $padding-base / 2;
        padding: $padding-base;
    }

    &__Serif,
    &__Sans-Serif {
        display: block;
        font-size: 32px;
    }

    &__Serif {
        font-family: $font-family-serif;
    }

    &__Sans-Serif {
        font-family: $font-family-sans-serif;
    }
}