<div class="design-tokens-fonts">
    {{#each fontFamily}}
        <div class="design-tokens-fonts__font-family">{{fontType}}: <span class="design-tokens-fonts__{{fontType}}">{{fontName}}</span></div>
    {{/each}}
</div>