	{{!render '@footer'}}

	<script src="/assets/js/main{{#if _minified}}.min{{/if}}.js"></script>

	{{!-- Allows links within pages in Fractal to load other pages in Fractal --}}
	<script src="/assets/js/docs.js"></script>

	{{!-- Allows placeholder images to be generated using data-src="holder.js/300x200"  --}}
	<script src="/assets/js/holder-modified.js"></script>
	</body>
</html>
