@font-face {
  font-family: 'iconfont';
  src:
    url('fonts/iconfont.ttf?ib63yg') format('truetype'),
    url('fonts/iconfont.woff?ib63yg') format('woff'),
    url('fonts/iconfont.svg?ib63yg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-excel:before {
  content: "\e916";
}
.icon-pdf:before {
  content: "\e917";
}
.icon-powerpoint:before {
  content: "\e918";
}
.icon-text:before {
  content: "\e919";
}
.icon-video:before {
  content: "\e91a";
}
.icon-word:before {
  content: "\e91b";
}
.icon-zip:before {
  content: "\e91c";
}
.icon-email:before {
  content: "\e915";
}
.icon-angle-double-left:before {
  content: "\e900";
}
.icon-angle-double-right:before {
  content: "\e901";
}
.icon-angle-down:before {
  content: "\e902";
}
.icon-angle-left:before {
  content: "\e903";
}
.icon-angle-right:before {
  content: "\e904";
}
.icon-angle-up:before {
  content: "\e905";
}
.icon-arrow-down:before {
  content: "\e906";
}
.icon-bars:before {
  content: "\e907";
}
.icon-cog:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-flickr:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e90c";
}
.icon-linkedin:before {
  content: "\e90d";
}
.icon-minus:before {
  content: "\e90e";
}
.icon-pause:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e911";
}
.icon-times:before {
  content: "\e912";
}
.icon-twitter:before {
  content: "\e913";
}
.icon-youtube:before {
  content: "\e914";
}
